/* colors
#0D0D0D
#F2F2F2
#7ABFBF
rgba(122, 191, 191, .5)
#EB5428

font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;

mobile 414px
med 760px
large 1200px
^^all % to size

no floats
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: rgba(122, 191, 191, .5);
}
body {
    width: 414px;
    background-color: #fff;
    margin: 0 auto;
}
header, nav {
    background-color: #F2F2F2;
}