/* colors
#0D0D0D
#F2F2F2
#7ABFBF
rgba(122, 191, 191, .5)
#EB5428

font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;

mobile 414px
med 760px
large 1200px
^^all % to size

no floats
*/


/******* beginning stuff**********/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: rgba(122, 191, 191, .5);
}
body {
    width: 414px;
    background-color: #fff;
    margin: 0 auto;
}
header {
    padding-top: 180px;
    text-align: center;
}
header, nav {
    background-color: #F2F2F2;
}
aside {
    background-color: #7ABFBF;
}
svg, img {
    margin: 0 auto;
}
main p, dd, dt, .ingredients li, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 40px;
    margin: 0;
}


/**************** main *****************/

main {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 12px;
}
main img {
    width: 100%;
}
main p {
    padding: 0 10px;
}


menu {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.svglinks li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.svglinks li a {
    color: #EB5428;
    text-decoration: none;
    display: block;
    transition: color 1s, background-color 2s, border-radius 1s;    
}
.svglinks li a:hover {
    color: #000000;
    background-color: #7ABFBF;border-radius: 5px;
}
dt {
    font-weight: 700;
    display: inline-block;
    text-align: end;
}
dd {
   padding: 0px;
   margin-left: 5px;
   display: inline;
   text-align: left;
}
.list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 20px;
}
.list dl {
    height: fit-content;
    margin: 0;
}

.ingredients li {
    padding-bottom: 14px;
    list-style: square;
    font-family: 'Montserrat', sans-serif;
}
directions {
    padding-bottom: 0;
    font-size: 16px;
}
.directions ol li {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}


/*********** navigation ******************/

nav {
    width: inherit;
    height: 180px;
    position: absolute;
    top: 0;
}
nav h2 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    height: 60px;
    padding: 10px 20px;
    background-color: #fff;
}
nav ul {
    overflow: hidden;
    max-height: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: max-height .5s ease-out;
}
nav li {
    list-style: none;
    display: block;
    width: 100%;
    background-color: #7ABFBF;
    text-align: center;
    padding: 10px 0;
    transition: background-color 1s ease-in-out;
}
nav li:hover {
    background-color: #fff;
}
nav a {
    text-decoration: none;color: #000000;
}
nav li:first-child {
    position: absolute;
    top: 0;
    right: 90px;
    width: 245px;
    height: 80px;
    padding: 0;
    background-color: #EB5428;
}
nav li:first-child a {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
nav li:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
nav span a, nav li a {
    color: #000000;
    transition: color 1.5s, background-color 1s ease-in-out, border-radius 1s;
}
nav span, nav li:last-child {
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav span a:hover, nav li:last-child a:hover {
    color: #fff;background-color: #EB5428;
    border-radius: 5px;
}
nav img {
    visibility: hidden;
    width: 0;
}
nav button {
    background-color: #EB5428;
    border: 2px solid #EB5428;
    margin-top: 20px;
}
nav input#menu-btn {
    display: none;
}
#menu-btn:checked ~ ul {
    max-height: 600px;
    z-index: 1;
}
div.search {
    position: absolute;
    top: 90px;
    left: 40px;padding-bottom: 40px;
    display: flex;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
}
.search input {
    border: 3px solid #EB5428;
    padding: 1px;
    width: 280px;
    height: 50px;
    margin-top: 20px;
}